/reyhanTunell
/web/dashboard/vendor/
/web/dashboard/node_modules/
/web/dashboard/public/build/
/web/dashboard/public/hot
/web/dashboard/storage/*.key
/web/dashboard/storage/pail
/web/dashboard/.env
/web/dashboard/.env.*
!/web/dashboard/.env.example
/web/dashboard/database/*.sqlite
/phpunit.result.cache
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
.idea/
.vscode/
